@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

/* Ocultar scrollbar en navegadores como Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox */
* {
  scrollbar-width: none;
}

/* Ocultar scrollbar en IE, Edge */
*::-ms-scrollbar {
  display: none;
}


@media print {
  body {
    background-color: white !important;
    color: black !important;
  }

  /* Asegúrate de que todos los elementos, incluidos los gráficos, tengan el color adecuado */
  .chart {
    background-color: white !important;
  }

  .chart text {
    fill: black !important;
  }

  

  /* Otros estilos que aseguran que todos los textos sean negros y el fondo blanco */
  div, span, p, h1, h2, h3, h4, h5, h6 {
    color: black !important;
    background-color: white !important;
  }

  /* Forcing select dropdowns to render correctly in print */
  .Select__control, .Select__option {
    color: black !important;
    background-color: white !important;
  }
}

